<h1>Gestion des données du site ecrituresnumeriques.ca - base de données Lightium (2016-2023)</h1>

<p>Liste de l’API:</p>

<ul>

  <li>
    <strong>catégories</strong>
    <br>
    <small>
      Les catégories représentent l'unité hiérarchique d'ordre supérieur. Il y en a peu. Elles servent à regrouper les sous-catégories.
    </small>
    <ul>
      <li>
        <a href="/categories">
          <code>/categories</code>
        </a>
        <a href="categories.json" rel="external">
          <code>[.json]</code>
        </a>
      </li>
    </ul>
  </li>

  <li>
    <strong>sous-catégories</strong>
    <br>
    <small>Chaque sous-catégorie est obligatoirement associée à une seule catégorie.</small>
    <ul>
      <li>
        <a href="/sous-categories">
          <code>/sous-categories</code>
        </a>
        <a href="sous-categories.json" rel="external">
          <code>[.json]</code>
        </a>
      </li>
      <li>
        <a href="/sous-categories/axes.json">
          <code>/sous-categories/axes.json</code>
        </a>
      </li>
      <li>
        <a href="/sous-categories/concepts.json">
          <code>/sous-categories/concepts.json</code>
        </a>
      </li>
      <li>
        <a href="/sous-categories/champs-de-recherche.json">
          <code>/sous-categories/champs-de-recherche.json</code>
        </a>
      </li>
      <li>
        <a href="/sous-categories/objets-de-recherche.json">
          <code>/sous-categories/objets-de-recherche.json</code>
        </a>
      </li>
    </ul>
  </li>

  <li>
    <strong>items</strong>
    <br>
    <small>Les items (génériques) constituent les nœuds terminaux dans la triade catégorie → sous-catégorie → item. Ils sont destinés à être être liés à différentes sous-catégories. Il peut s'agir d'un projet, d'un événement ou d'une publication.</small>
    <br>
    <ul>
      <li>
        <a href="items">
          <code>/items</code>
        </a>
        <a href="items.json" rel="external">
          <code>[.json]</code>
        </a>
      </li>
      <li>
        <code>/items/[id].[language].json</code>
      </li>
      <li>
        <code>/items/[id].[language].md</code>
      </li>
      <li>
        <a href="/item-relations.json">
          <code>/item-relations.json</code>
        </a>
      </li>
    </ul>
  </li>

  <li>
    <strong>membres de l’équipe</strong>
    <br>
    <small>Les membres de l'équipe sont une <strong>sous-catégorie</strong> et peuvent être liés à des <strong>items</strong> particuliers, comme des projets ou des événements</small>
    <ul>
      <li>
        <a href="/equipe">
          <code>/equipe</code>
        </a>
        <a href="equipe.json" rel="external">
          <code>[.json]</code>
        </a>
      </li>

      <li>
        <code>/equipe/[id].[language].json</code>
      </li>
      <li>
        <code>/equipe/[id].[language].md</code>
      </li>
    </ul>
  </li>

  <li>
    <strong>événements</strong>
    <br>
    <small>Les événements sont une sorte d'items appartenant à la sous-catégorie « événements ».</small>
    <ul>
      <li>
        <a href="/evenements">
          <code>/evenements</code>
        </a>
        <a href="evenements.json" rel="external">
          <code>[.json]</code>
        </a>
      </li>
      <li>
        <code>/evenements/[id].[language].json</code>
      </li>
      <li>
        <code>/evenements/[id].[language].md</code>
      </li>
    </ul>
  </li>

  <li>
    <strong>événements (legacy)</strong>
    <br>
    <small>Les événements dits « legacy » sont dans une table à part. Ce sont les premiers événements, ils ont cessé d'être produits au profit de la classification <strong>item</strong>.</small>
    <ul>
      <li>
        <a href="/evenements-legacy">
          <code>/evenements-legacy</code>
        </a>
        <a href="/evenements-legacy.json" rel="external">
          <code>[.json]</code>
        </a>
      </li>
    </ul>
  </li>

  <li>
    <strong>projets</strong>
    <br>
    <small>Les projets sont un nœud terminal dans la triade catégorie → sous-catégorie → item. Ils appartiennent à la sous-catégorie « projets ».</small>
    <ul>
      <li>
        <a href="/projets">
          <code>/projets</code>
        </a>
        <a href="projets.json" rel="external">
          <code>[.json]</code>
        </a>
      </li>
      <li>
        <code>/projets/[id].[language].json</code>
      </li>
      <li>
        <code>/projets/[id].[language].md</code>
      </li>
    </ul>
  </li>

  <li>
    <strong>publications</strong>
    <br>
    <small>Les publications sont tirées de Zotero; cela ne vaut pas la peine de les récupérer ici. Il y a toutefois des relations qui peuvent être intéressantes à récupérer.</small>
    <ul>
      <li>
        <a href="/publications.json">
          <code>publications.json</code>
        </a>
      </li>
    </ul>
  </li>

</ul>

<style>
  a:hover {
    background-color: rgba(255, 235, 100, .5);
  }
</style>
