<script>
  import CardLangs from '$lib/components/CardLangs.svelte';

  /** @type {import('./$types').PageData} */
  export let data;
  $: ({ items, pathname } = data);

  // vars
  const displayProps = [
    'title',
    'content',
    'caption',
    'image',
    'cleanstring',
    'lang',
    'time',
    'year',
    'month',
    'day',
  ]
  const itemIdField = 'id_item';
  const itemTitleField = 'title';
  const itemBaseUrl = pathname;
</script>

<a href="/">&larr; retour</a>

<h1>
  Événements ({items.length})
</h1>

{#each items as item}
  <CardLangs
    {item}
    {displayProps}
    {itemIdField}
    {itemTitleField}
    {itemBaseUrl}
  />
{/each}
