<script>
  import CardLangs from '$lib/components/CardLangs.svelte';

  /** @type {import('./$types').PageData} */
  export let data;
  $: ({ items } = data);

  // vars
  const displayProps = [
    'id_subcat',
    'name',
    'description',
    'cleanstring',
    'image',
    'lang',
  ];
  const itemIdField = 'id_subcat';
  const itemTitleField = 'name';
  const itemBaseUrl = '/sous-categories';
</script>

<a href="/">&larr; retour</a>

<h1>
  Sous-catégories ({items.length})
</h1>

{#each items as item}
  <CardLangs
    {item}
    {displayProps}
    {itemIdField}
    {itemTitleField}
    {itemBaseUrl}
  />
{/each}
