<script>
  import CardLangs from '$lib/components/CardLangs.svelte';

  /** @type {import('./$types').PageData} */
  export let data;
  
  $: ({ items, pathname } = data);
  
  // vars
  const displayProps = [
    'description',
    'id_cat',
    'name',
    'cleanstring',
    'lang',
  ]
  const itemIdField = 'id_cat';
  const itemTitleField = 'name';
  const itemBaseUrl = pathname;
</script>

<a href="/">&larr; retour</a>

<h1>
  Catégories ({items.length})
</h1>

{#each items as item}
  <CardLangs
    {item}
    {displayProps}
    {itemIdField}
    {itemTitleField}
    {itemBaseUrl}
  />
{/each}
