<script>
  import Card from '$lib/components/Card.svelte';

  /** @type {import('./$types').PageData} */
  export let data;
  $: ({ items, pathname } = data);

  // vars
  const displayProps = [
    'lang',
    'name',
    'description',
    'short',
    'cleanstring',
    'caption',
    'image'
  ];
  const itemIdField = 'id_subcat';
  const itemTitleField = 'name';
  const itemBaseUrl = pathname;
</script>

<a href="/">&larr; retour</a>

<h1>
  Membres de l’équipe ({items.length / 2})
</h1>

{#each items as item}
  <Card
    {item}
    {displayProps}
    {itemIdField}
    {itemTitleField}
    {itemBaseUrl}
    />
{/each}
