<script>
  export let displayProps = [
  ];

  export let itemBaseUrl;
  export let itemIdField;
  export let itemTitleField = 'title'; // 'title' by default, may also be 'name'
  export let item = {};
</script>

<article class="Card">
  <header class="Card__header">

    {#if (item[itemTitleField])}
      <span class="Card__title">{item[itemTitleField]}</span>
      {:else}
      <span class="say-empty">(sans titre)</span>
    {/if}

    {#if (item[itemIdField])}
      <div>
        <span class="Card__key">{itemIdField}:</span>
        <code class="Card__id" title="{itemIdField}">{item[itemIdField]}</code>
      </div>
    {/if}

    <div>
      <span class="Card__key">lang:</span>
      <span class="Card__property">
        <code>{item.lang}</code>
      </span>
    </div>

    {#if (itemBaseUrl)}
      <nav class="Card__nav">
        <span class="Card__key">liens:</span>
        <a
          class="Card__external-link"
          href="{itemBaseUrl}/{item[itemIdField]}.{item.lang.toLowerCase()}.md"
          rel="external"
        >[markdown]</a>
        <a
          class="Card__external-link"
          href="{itemBaseUrl}/{item[itemIdField]}.{item.lang.toLowerCase()}.json"
          rel="external"
        >[json]</a>
      </nav>
    {/if}
  </header>

  <dl class="Card__key-list">
    {#each displayProps as prop}
      <div class="Card__key-list-item">
        <dd class="Card__property">
          <details>
            <summary class="Card__key">{prop}</summary>
            {#if (item[prop])}
            <code>{item[prop]}</code>
              {:else}
              <small class="say-empty">
                (vide)
              </small>
              {/if}
          </details>
        </dd>
      </div>
    {/each}
  </dl>

  <div class="Card__body">
    <slot></slot>
  </div>

</article>

<style>
  .Card {
    line-height: 1.5;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: .3rem;
    background-color: #D9DCDD;
    font-family: sans-serif;

    display: grid;
    grid-template-columns: 1fr;
  }
  @media (min-width: 48rem) {
    .Card {
      grid-template-columns: repeat(12, 1fr);
      gap: 1rem;
    }
  }

  .Card__header {
    margin: 0 0 1rem;
    padding: 0;
  }
  @media (min-width: 48rem) {
    .Card__header {
      grid-column: 1 / 4;
    }
  }

  .Card__title {
    font-weight: bold;
  }

  .Card__id {
    padding: .05em .25em;
    background-color: #fd2;
    color: #333;
    border-radius: .25em;
  }

  .Card__key-list {
    line-height: 1.5;
    margin: 0;
  }
  @media (min-width: 48rem) {
    .Card__key-list {
      grid-column: 5 / 13;
      grid-row-start: 1;
    }
  }
  .Card__key-list-item {
    padding-top: .15rem;
    padding-bottom: .15rem;
    border-top: 1px solid rgba(0, 0, 0, .2);
  }
  .Card__key-list-item:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
  }

  .Card__key {
    font-family: monospace;
    color: #777;
    font-weight: 400;
  }
  .Card__property {
    margin: 0;
  }
  .Card__property code {
    word-break: break-word;
  }
  :global(.Card__property a) {
    color: #444;
  }
  @media (min-width: 48rem) {
    .Card__body {
      grid-column: 5 / 13;
    }
  }
  details summary {
    cursor: pointer;
  }

  .Card__external-link {
    font-family: monospace;
  }
  .Card__external-link:hover {
    background-color: rgba(255, 235, 100, .5);
  }

  .say-empty {
    opacity: .5;
  }

</style>