<script>
  /**
   * CardLangs affiche simplement un groupe de cartes (composant Card.svelte)
   * dans les différentes langues d'un item.
   * 
   * item = { fr: <données FR>, en: <données EN> }
   */

  import Card from './Card.svelte';

  // ces varaibles sont passées directement au composant enfant Card
  export let displayProps = [
  ];
  export let itemBaseUrl;
  export let itemIdField;
  export let itemTitleField = 'title'; // 'title' by default, may also be 'name'
  export let item = {};

  const itemLangs = [...Object.entries(item).map(i => i[1])]
    .filter(t => {
      // élaguer les clés de type `item_id: 123`
      // pour ne garder que les champs de type `fr: {}`
      return typeof t !== 'number';
    });
</script>

<!-- Un groupe correspond aux 2 langues d'une même entrée (avec le même identifiant) -->
<div class="group">
  {#each itemLangs as itemLang}
  <Card
    item={itemLang}
    {displayProps}
    {itemIdField}
    {itemTitleField}
    {itemBaseUrl}
  />
  {/each}
</div>

<style>
  .group {
    margin-block: 2rem;
    padding-inline: .75rem;
    
    border: 4px dashed lightblue;
    border-radius: .5rem;
  }
</style>
