<script>
  import CardLangs from '$lib/components/CardLangs.svelte';

  /** @type {import('./$types').PageData} */
  export let data;
  $: ({ items, pathname } = data);

  // vars
  const itemIdField = 'id_event';
  const displayProps = [
    'lang',
    'title',
    'short',
    'description',
    'location',
    'time',
  ]
  const itemTitleField = 'title';
  // change line below when 'single' routes are ready
  // const itemBaseUrl = pathname;
  const itemBaseUrl = null;
</script>

<a href="/">&larr; retour</a>

<h1>
  Événements - legacy ({items.length})
</h1>

{#each items as item}
  <CardLangs
    {item}
    {displayProps}
    {itemIdField}
    {itemTitleField}
    {itemBaseUrl}
  />
{/each}
